@tailwind base;
@tailwind components;
@tailwind utilities;

/* #__next {
	@apply bg-[#F5F5F5];
} */

@import './font.css';

@layer base {
	html {
		/* font-size: calc(15px + 0.390625vw); //15px */
		font-size: 10px;
	}

	* {
		box-sizing: border-box;
	}

	/* @media (max-width: 640px) {
		html {
			font-size: 7px;
		}
	}

	@media (min-width: 640px) {
		html {
			font-size: 7px;
		}
	}

	@media (min-width: 768px) {
		html {
			font-size: 8px;
		}
	}

	@media (min-width: 1024px) {
		html {
			font-size: 9px;
		}
	}

	@media (min-width: 1280px) {
		html {
			font-size: 10px;
		}
	} */

	@media (max-width: 640px) {
		html {
			font-size: 8px;
		}
	}

	@media (min-width: 640px) {
		html {
			font-size: 9px;
		}
	}

	/* @media (min-width: 768px) {
		html {
			font-size: 9px;
		}
	} */

	@media (min-width: 1024px) {
		html {
			font-size: 10px;
		}
	}

	/* @media (min-width: 1280px) {
		html {
			font-size: 10px;
		}
	} */
}

/* @layer base {
	ul,
	ol {
		list-style: revert;
	}
} */

/* html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: white;
		background: black;
	}
} */

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='']::before {
	content: 'Roboto';
}
