.slideshow {
	margin: 0 auto;
	overflow: hidden;
	max-width: 100%;
	margin-left: 1rem;
	margin-right: 1rem;
	border-radius: 20px;
}

.slideshowSlider {
	white-space: nowrap;
	transition: ease 1000ms;
}

.slide {
	display: inline-block;
	height: 40rem;
	width: 100%;
	border-radius: 20px;
}
@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	.slide {
		display: inline-block;
		height: 30rem;
		width: 100%;
		border-radius: 20px;
	}
}

/* Buttons */

.slideshowDots {
	text-align: center;
}

.slideshowDot {
	display: inline-block;
	height: 20px;
	width: 20px;
	border-radius: 50%;

	cursor: pointer;
	margin: 15px 7px 0px;

	background-color: #c4c4c4;
}

.slideshowDot.active {
	background-color: #6a0dad;
}
